### 기본 세팅

In [1]:
import pandas as pd

In [2]:
!python --version

Python 3.10.13

In [4]:
pd.__version__

'2.1.4'

### 1. test_data.csv의 sparsity 확인

In [ ]:
train_df = pd.read_csv('../../data/train_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

In [13]:
test_df = test_df[test_df['answerCode'] != -1]

In [14]:
test_df_drop_duplicate = test_df.drop_duplicates(subset=('userID','assessmentItemID'), keep='last')

In [15]:
test_df_drop_duplicate.groupby('userID')['assessmentItemID'].count().min()

14

In [16]:
test_df_drop_duplicate.groupby('assessmentItemID')['userID'].count().min()

1

In [22]:
user_cnt = test_df_drop_duplicate['userID'].nunique()
item_cnt = test_df_drop_duplicate['assessmentItemID'].nunique()

print(user_cnt)
print(item_cnt)

744
9454

In [23]:
len(test_df_drop_duplicate)

255341

In [24]:
len(test_df_drop_duplicate) / (user_cnt * item_cnt)

0.03630212278582656

### 2. Test data에 있는 문제 중 Train data에 없는 것이 있을까?

In [25]:
train_df = pd.read_csv('../../data/train_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

In [27]:
train_item = set(train_df['assessmentItemID'].unique())
test_item = set(test_df['assessmentItemID'].unique())

In [28]:
test_item - train_item

set()

### 3. 각 User들의 문제 풀이 횟수, 각 문제들의 푼 User 수의 분포

In [54]:
train_df = pd.read_csv('../../data/train_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

test_df = test_df[test_df['answerCode'] != -1]

In [55]:
train_df.groupby('userID')['assessmentItemID'].count().describe()

count    6698.000000
mean      338.397432
std       321.331429
min         9.000000
25%        78.000000
50%       231.500000
75%       513.000000
max      1860.000000
Name: assessmentItemID, dtype: float64

In [56]:
train_df.groupby('assessmentItemID')['userID'].count().describe()

count    9454.000000
mean      239.748889
std        71.893791
min        43.000000
25%       220.000000
50%       230.000000
75%       271.000000
max       454.000000
Name: userID, dtype: float64

In [57]:
test_df.groupby('userID')['assessmentItemID'].count().describe()

count     744.000000
mean      348.615591
std       322.740257
min        14.000000
25%        75.000000
50%       253.500000
75%       547.250000
max      1619.000000
Name: assessmentItemID, dtype: float64

In [58]:
test_df.groupby('assessmentItemID')['userID'].count().describe()

count    9454.000000
mean       27.434948
std         9.167757
min         1.000000
25%        23.000000
50%        29.000000
75%        34.000000
max        53.000000
Name: userID, dtype: float64

### 4. 각 User들의 복습 횟수 분포

In [59]:
train_df = pd.read_csv('../../data/train_data.csv')
test_df = pd.read_csv('../../data/test_data.csv')

test_df = test_df[test_df['answerCode'] != -1]

In [63]:
train_review_df = train_df.groupby('userID')['assessmentItemID'].agg(['count','nunique'])
train_review_df['review'] = train_review_df['count'] - train_review_df['nunique']

In [66]:
train_review_df

        count  nunique  review
userID
0         745      745       0
1         933      879      54
2         276      276       0
5         833      833       0
6         921      887      34
...       ...      ...     ...
7436       15       15       0
7437       16       16       0
7438       16       16       0
7440       15       15       0
7441        9        9       0

[6698 rows x 3 columns]

In [68]:
train_review_df['review'].describe()

count    6698.000000
mean        6.860705
std        33.273656
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       656.000000
Name: review, dtype: float64

In [76]:
train_review_df[train_review_df['review'] != 0]['review'].describe()

count    699.000000
mean      65.741059
std       82.134509
min        4.000000
25%       14.000000
50%       34.000000
75%       85.000000
max      656.000000
Name: review, dtype: float64

In [79]:
train_review_cnt = train_review_df['review'].sum()

print(train_review_cnt)
print(train_review_cnt/len(train_df))

45953
0.02027410387252017

In [70]:
test_review_df = test_df.groupby('userID')['assessmentItemID'].agg(['count','nunique'])
test_review_df['review'] = test_review_df['count'] - test_review_df['nunique']

In [71]:
test_review_df

        count  nunique  review
userID
3        1035      825     210
4         670      670       0
13       1316     1316       0
17       1259     1259       0
26        386      376      10
...       ...      ...     ...
7395       23       23       0
7404       14       14       0
7416       14       14       0
7417       14       14       0
7439       15       15       0

[744 rows x 3 columns]

In [72]:
test_review_df['review'].describe()

count    744.000000
mean       5.415323
std       26.135496
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      282.000000
Name: review, dtype: float64

In [77]:
test_review_df[test_review_df['review'] != 0]['review'].describe()

count     67.000000
mean      60.134328
std       65.949222
min        4.000000
25%       10.000000
50%       28.000000
75%       84.500000
max      282.000000
Name: review, dtype: float64

In [80]:
test_review_cnt = test_review_df['review'].sum()

print(test_review_cnt)
print(test_review_cnt/len(test_df))

4029
0.015533793422523808